
body{
    background-color: aquamarine;
    background-size: cover;
   
}
h1{
    font-size: 70px;
    font-family: "IBM Plex Serif", serif;
}
h2{
    font-size: 70px;
    font-family: "IBM Plex Serif", serif;
}
h3{
    font-size: 70px;
    font-family: "IBM Plex Serif", serif;
}
h4{
    font-size: 70px;
    font-family: "IBM Plex Serif", serif;
}
h5{
    font-size: 75px;
    font-family: "IBM Plex Serif", serif;
}
h6{
    font-size: 70px;
    font-family: "IBM Plex Serif", serif;
}